@{
  Layout = "_Layout";
}

@model TravelClient.Models.MyUser
@using TravelClient.Models;

<h1>Register New User</h1>
@using (Html.BeginForm())
{
  @Html.Label("First Name:")
  @Html.TextBoxFor(model => model.FirstName, new { @required="required"})
  @Html.Label("Last Name:")
  @Html.TextBoxFor(model => model.LastName, new { @required="required"})
  @Html.Label("Username:")
  @Html.TextBoxFor(model => model.MyUsername, new { @required="required"})
  @Html.Label("Password:")
  @Html.TextBoxFor(model => model.Password, new { @required="required"})
  @Html.Label("Confirm Password:")
  @Html.TextBoxFor(model => model.Password2, new { @required="required"})
  <br>
  <input type="submit" value="Add this location" class="btn"/>
}
