<h1>All Experiences:</h1>

<ol>
@foreach (Experience experience in Model)
{
  <ul>
    <li>ID: @experience.ExperienceId</li>
    <li>Author: @experience.Author</li>
    <li>Review: @experience.Review</li>
    <li>Rating: @experience.Rating</li>
    <li>LocationId: @experience.LocationId</li>
  </ul>
  <a href="/Experiences/Details/@(experience.ExperienceId)"><p>View Details</p></a>

  <br>
}
</ol>