<h1>All Locations:</h1>

<ol>
@foreach (Location location in Model)
{
  <ul>
    <li>ID: @location.LocationId</li>
    <li>Name: @location.Name</li>
    <li>City: @location.City</li>
    <li>Country: @location.Country</li>
    <li>Experiences:</li>
    <ul>
      @foreach (Experience experience in @location.Experiences)
      {
        <li>@experience.Review</li> 
      }
    </ul>
    
  </ul>
  <a href="/Locations/Details/@(location.LocationId)"><p>View Details</p></a>
  <br>
}
</ol>